/hw_18/pr_18/myapp/migrations/
/hw_18/pr_18/db.sqlite3
/hw_17/pr_17/db.sqlite3
/hw_17/pr_17/board/migrations/
/hw_17/venv/
/hw_18/venv/
/hw_16/venv/
/hw_16/my_site/main/migrations/
/hw_16/my_site/db.sqlite3
